<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.youqsd_manage.mappper.ShopMapper">


    <select id="findPageList"
            parameterType="com.wx.youqsd_manage.vo.req.ShopInfoPageReq"
            resultType="com.wx.youqsd_manage.vo.resp.ShopInfoPageResp">
        SELECT
        s.id,
        s.shop_addr,
        s.shop_name,
        s.contact_name,
        s.contact_phone,
        s.create_time,
        s.update_time
        FROM
        t_shop_info s
        LEFT JOIN t_user_shop_rel r on s.id = r.shop_id
        left join t_user_info u on u.id = r.user_id
        <where>
<!--            1 = 1-->
<!--            <if test="param.userName != null and param.userName != ''">-->
<!--                AND u.user_name = #{param.userName}-->
<!--            </if>-->
<!--            <if test="param.phoneNo != null and param.phoneNo != ''">-->
<!--                AND u.phone_no = #{param.phoneNo}-->
<!--            </if>-->
<!--            <if test="param.wxName != null and param.wxName != ''">-->
<!--                AND u.wx_name = #{param.wxName}-->
<!--            </if>-->
<!--            <if test="param.shopName != null and param.shopName != ''">-->
<!--                <bind name="shopName" value="'%'+ param.shopName +'%'"/>-->
<!--                AND s.shop_name LIKE #{shopName}-->
<!--            </if>-->
<!--            <if test="param.contactName != null and param.contactName != ''">-->
<!--                <bind name="contactName" value="'%'+ param.contactName +'%'"/>-->
<!--                AND s.contact_name LIKE #{contactName}-->
<!--            </if>-->
<!--            <if test="param.contactPhone != null and param.contactPhone != ''">-->
<!--                <bind name="contactPhone" value="'%'+ param.contactPhone +'%'"/>-->
<!--                AND s.contact_phone LIKE #{contactPhone}-->
<!--            </if>-->
<!--            <if test="param.shopAddr != null and param.shopAddr != ''">-->
<!--                <bind name="shopAddr" value="'%'+ param.shopAddr +'%'"/>-->
<!--                AND s.shop_addr LIKE #{shopAddr}-->
<!--            </if>-->
        </where>
        ORDER BY s.create_time DESC
    </select>
</mapper>